{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NASA's Astronomy Picture of the Day</title>
  </head>
  <body>
    <body>
  <main class="container">
    <h1>NASA's Astronomy Picture of the Day</h1>
    <h2 id="title"></h2>
    <p id="date"></p>
    <section class="picture-explanation-container">
      <img src="" id="picture" alt="astronomy image by NASA" width="40%" height="40%" />
      <p id="explanation"></p>
    </section>
  </main>

  <div class="button-container">
 <button class="random-picture-button" id="random-day-generator">Random</button>
 </div>

  <script src = "{{url_for('static', filename='script.js')}}"> </script>

</body>
  </body>
</html>

{% endblock %}
